
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias vi='vim'
alias sleep='systemctl suspend'
alias poweroff='sudo shutdown now'
alias cc='clang'
alias reboot='sudo reboot'
alias better='apacman -Syu'
alias getz='apacman -S'
alias see='apacman -Si'

alias git='hub'
alias clone='git clone'
alias push='git push'
alias fetch='git fetch'
alias merge='git merge'
alias add='git add --verbose -A'
alias commit='git commit --signoff'
alias status='git status'
alias branch='git branch'
alias checkout='git checkout'

alias playmusic='mplayer -shuffle -novideo'
alias mkdir='mkdir -p'

export BEEP=/usr/share/sounds/KDE-Im-Message-In.ogg
alias beep='paplay $BEEP'
export PULSE_LATENCY_MSEC=60
