#!/bin/bash

#Utility
alias ls='ls --color=auto'
alias grep='grep --color=auto'
alias vi='vim'
alias playmusic='mplayer -shuffle -novideo'
alias mkdir='mkdir -p'
alias beep='paplay $BEEP'

#Power
alias sleep='systemctl suspend'
alias poweroff='sudo shutdown now'
alias reboot='sudo reboot'

#Compiler
alias cc='clang'
alias ++='clang++'
alias jc='javac'
alias ginit='gradle init'
alias gbuild='gradle build'

#Packages
alias better='yaourt -Syu --aur'
alias getz='yaourt -S'
alias see='yaourt -Si'

#Git
alias git='hub'
alias clone='git clone'
alias push='git push'
alias fetch='git fetch'
alias merge='git merge'
alias add='git add --verbose -A'
alias commit='git commit --signoff'
alias status='git status'
alias branch='git branch'
alias checkout='git checkout'
alias mergetool='git mergetool'
alias tag="git tag"

#Exports
export BEEP=/usr/share/sounds/KDE-Im-Message-In.ogg
export PULSE_LATENCY_MSEC=60
